<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Varuna</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        #map { height: 400px; }
    </style>
</head>
<body>
    <header class="main-header">
        <div class="header-title">Varuna Navitech - Universitas Negeri Jakarta</div>
        <div class="header-logo">
            <img src="{{ url_for('static', filename='logo-unj-new-ptnbh.png') }}" alt="Logo UNJ">
        </div>
    </header>

    <div class="dashboard-container">
        <div class="left-column">
            <div class="section position-log">
                <h2>Lintasan: A</h2>
                <h3>Floating Ball Set Checklist</h3>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="checklist-tbody">
                    </tbody>
                </table>
            </div>
            <div class="section image-section">
                <h3>Surface Image</h3>
                <img src="{{ url_for('static', filename='Danau-Toba.png') }}" alt="Surface Image">
            </div>
            <div class="section image-section">
                <h3>Underwater Image</h3>
                <img src="{{ url_for('static', filename='underwater.webp') }}" alt="Underwater Image">
            </div>
        </div>

        <div class="right-column">
            <div class="section boat-tracker">
                <h2>Boat Tracker</h2>
                <div id="map"></div>
                <h3>Geo-tag Info:</h3>
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Waktu & Tanggal</th>
                            <th>Koordinat</th>
                            <th>SOG (knots)</th>
                            <th>COG (°)</th>
                        </tr>
                    </thead>
                    <tbody id="geotag-tbody">
                        </tbody>
                </table>
            </div>
            </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>